@charset "UTF-8";


div#homewrap{
  padding: 38px 0;
}


div#homewrap>div{
  width: 100%;
  margin-bottom: 29px;
}

div#homewrap>div>h3{
  font-size: 20px;
  margin-bottom: 8px;
  padding-left: 10px;
}

div.album{
  width: 100%;
  background-color: #edeaea;
  padding: 20px 0;
  position: relative;
}

p.next{
  position: absolute;
  right: 18px; top: 50%;
  margin-top: -20px;
  width: 40px; height: 40px;
  border-radius: 50%;
}

p.next>img{
  display: block;
  max-width: 100%;
  width: 100%;
}


p.prev{
  position: absolute;
  left: 18px; top: 50%;
  margin-top: -20px;
  width: 40px; height: 40px;
  border-radius: 50%;
}

p.prev>img{
  display: block;
  max-width: 100%;
  width: 100%;
}


div.gall{
  width: 90.27777777777778%;
  /* width: 1300px; */
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
  overflow: hidden;
}

div.gall>ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;

}

div.gall>ul>li{
  padding: 0 19px;
  width: calc(100%/6);
}

div.gall>ul>li>figure{}
div.gall>ul>li>figure>p{
  max-width: 180px;
  max-height: 260px;
  background-color: #D9D9D9;
  position: relative;
  margin-bottom: 10px;
}

div.gall>ul>li>figure>p>img{
  width: 180px;
  height: 260px;
  margin: 0 auto;
}

div.gall>ul>li>figure>p>span{
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 55px; height: 55px;
  margin-top: -27.5px; margin-left: -27.5px;
  /* background-color: red; */
}
div.gall>ul>li>figure>p>span>img{
  width: 50px;
}

div.gall>ul>li>figure>figcaption{}
div.gall>ul>li>figure>figcaption>p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.2em;
  font-size: 14px;
}

div.newsp{
  width: 90.27777777777778%;
  /* width: 1300px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  box-sizing: border-box;
  align-items: center;
}

div.newsp>figure{
  /* max-width: 38.46153846153846%; */
  /* max-width: 500px; */
  width: 500px;
  font-size: 25px;
}
div.newsp>figure>figcaption{
  text-align: center;
  
}
div.newsp>figure>img{
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
}
div.newsp>figure>figcaption>p.mndate{
  font-size: 20px;
  line-height: 1.5em;
  color: #4f4f4f;
}
div.newsp>figure>figcaption>p.mntitle{
  font-size: 18px;
  line-height: 1.4em;
}



@media screen and (min-width : 1440px) {
  
}
@media screen and (min-width : 980px) and (max-width:1440px) {
  p.next{
    right: 8px; top: 50%;
    margin-top: -15px;
    width: 30px; height: 30px;
  }
  
  p.prev{
    left: 8px; top: 50%;
    margin-top: -15px;
    width: 30px; height: 30px;
  }

  div.gall>ul>li{
  max-width: 244px;
  width: 244px;
}

div.gall>ul>li{
  padding: 0 19px;
  width: calc(100%/4);
}

  
}
@media screen and (min-width : 580px) and (max-width:980px) {
  div#homewrap{
    padding: 10px 0;
  }
  div#homewrap>div{
    margin-bottom: 26px;
  }
  div.gall>ul{
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: none;
    margin-left: 0;

  }
  div.gall>ul::-webkit-scrollbar{
    display: none;
  }

  p.next{
    display: none;
  }
  
  p.prev{
    display: none;
  }
  div.gall>ul{
    margin-left: 0;
  }


  div.gall>ul>li{
    max-width: 124px;
    width: 124px;
  }

  div.gall>ul>li>figure>p{
    max-width: 124px;
    max-height: 178px;
    margin-bottom: 10px;
  }

  div.gall>ul>li>figure>p>img{
    width: 124px;
    height: 178px;
  }


  div.gall>ul>li>figure>p>span{
    width: 37px; height: 37px;
    margin-top: -18.5px; margin-left: -18.5px;
  }
  div.gall>ul>li>figure>figcaption>p{
    font-size: 12px;  }
  

}
@media screen and (min-width : 5px) and (max-width:580px) {
  div#homewrap{
    padding: 10px 0;
  }
  div#homewrap>div{
    margin-bottom: 26px;
  }
  div.gall{
    width: 98%;

  }
  div.gall>ul{
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: none;
    margin-left: 0;

  }
  div.gall>ul::-webkit-scrollbar{
    display: none;
  }

  p.next{
    display: none;
  }
  
  p.prev{
    display: none;
  }
  div.gall>ul>li{
    max-width: 124px;
    width: 124px;
  }

  div.gall>ul>li>figure>p{
    max-width: 124px;
    max-height: 178px;
    margin-bottom: 10px;
  }

  div.gall>ul>li>figure>p>img{
    width: 124px;
    height: 178px;
  }


  div.gall>ul>li>figure>p>span{
    width: 37px; height: 37px;
    margin-top: -18.5px; margin-left: -18.5px;
  }
  div.gall>ul>li>figure>figcaption>p{
    font-size: 12px;  
  }

  div.newsp{
    width: 98%;
    display: block;
  }

  div.newsp>figure{
    max-width: none;
    width: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  div.newsp>figure>img{
    max-width: 60%;
    margin-bottom: 10px;
  }
  div.newsp>figure>figcaption>p.mntitle{
    font-size: 23px;
    padding: 0 40px;
  }
  

}