@charset "UTF-8";


div#homewrap{
  padding: 38px 0;
}


div#homewrap>div{
  width: 100%;
  margin-bottom: 29px;
}

div#homewrap>div>h3{
  font-size: 40px;
  margin-bottom: 8px;
  padding-left: 10px;
}

div.album{
  width: 100%;
  background-color: #edeaea;
  padding: 20px 0;
  position: relative;
}

p.next{
  position: absolute;
  right: 18px; top: 50%;
  margin-top: -20px;
  width: 40px; height: 40px;
  background-color: red;
}

p.prev{
  position: absolute;
  left: 18px; top: 50%;
  margin-top: -20px;
  width: 40px; height: 40px;
  background-color: red;
}


div.gall{
  width: 1300px;
  margin: 0 auto;
  background-color: #AE90FF;
  padding: 15px 10px;
  box-sizing: border-box;
}

div.gall>ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

div.gall>ul>li{
  margin: 0 19px;
}

div.gall>ul>li>figure{}
div.gall>ul>li>figure>p{
  max-width: 180px;
  max-height: 260px;
  background-color: #D9D9D9;
  position: relative;
  margin-bottom: 10px;
}

div.gall>ul>li>figure>p>img{
  width: 180px;
  height: 260px;
}

div.gall>ul>li>figure>p>span{
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 55px; height: 55px;
  margin-top: -27.5px; margin-left: -27.5px;
  background-color: red;
}


div.gall>ul>li>figure>figcaption{}
div.gall>ul>li>figure>figcaption>p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 0;
  font-size: 14px;
}

div.newsp{
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #AE90FF;
  padding: 16px 0;
  box-sizing: border-box;
}

div.newsp>p{
  width: 500px;
  background-color: #D9D9D9;
}


@media screen and (min-width : 1440px) {}
@media screen and (min-width : 980px) and (max-width:1440px) {}
@media screen and (min-width : 580px) and (max-width:980px) {}
@media screen and (min-width : 5px) and (max-width:580px) {}