@charset "utf-8";

div#newswrap{
  width: 100%;
  /* width: 1300px; */
  margin: 0 auto;
  padding: 38px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div#News{
  width: 74.61538461538462%;
  /* width: 970px; */
  box-sizing: border-box;
  margin-right: 30px;
}

div#Nnewsside{
  box-sizing: border-box;
  width: 23.07692307692308%;
  /* width: 300px; */
}

div#News>div{
  margin-bottom: 25px;
}

div.subtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

div.subtitle>h2{
  font-size: 20px;
  padding-left: 10px;
}

div.subtitle>p{
  font-size: 14px;
  padding-right: 10px;
  color: #795BCD;
}

div.newsgall{
  background-color: #eaeaea;
  padding: 20px 35px;
}

div.newsgall>ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

div.newsgall>ul>li{
  width: 30%;
  margin: 0 24px;
}

div.newsgall>ul>li>figure{}
div.newsgall>ul>li>figure>img{
  display: block;
  max-width: 100%;
  max-height: 140px;
  background-color: grey;
  margin: 0 auto;
  margin-bottom: 5px;

}
div.newsgall>ul>li>figure>figcaption{
  font-size: 18px;
  line-height: 1.4em;
}

div.newsgall>ul>li>figure>figcaption>h3.ndate{
  font-size: 14px;
}

div#Nnewsside{
  background-color: #D9D9D9;
  padding: 37px 17px;
  position: relative;
}

div#Nnewsside>h2{
  font-size: 20px;
  margin-bottom: 5px;
}

div#Nnewsside>p.Nallview{
  position: absolute;
  font-size: 14px;
  right: 5px; top: 5px;
  color: #795BCD;
}

div#Nnewsside>ul{
  padding: 15px;
}

div#Nnewsside>ul>li{
  margin-bottom: 14px;
  width: 100%;
}

div#Nnewsside>ul>li>figure{}
div#Nnewsside>ul>li>figure>img{
  display: block;
  max-width: 100%;
  max-height: 140px;
  background-color: grey;
  margin-bottom: 5px;
  margin: 0 auto;
}
div#Nnewsside>ul>li>figure>figcaption{
  font-size: 18px;
  line-height: 1.4em;
}

div#Nnewsside>ul>li>figure>figcaption>h3.ntitle{
  font-size: 15px;
}



@media screen and (min-width : 1440px) {

}
@media screen and (min-width : 980px) and (max-width:1440px) {

  div.newsgall>ul{
    padding: 10px 0;
  }
  div#News{
    margin-right: 15px;
  }



}
@media screen and (min-width : 580px) and (max-width:980px) {
  div#newswrap{
    padding: 24px 0;
  }
  div#News{
    margin-right: 10px;
  }

  div.newsgall{
    padding: 5px;
  }
  div#News>div{
    margin-bottom: 20px;
  }
  div.newsgall>ul>li>figure>figcaption{
    font-size: 14px;
    line-height: 1.2em;
  }

  div#Nnewsside{
    background-color: #D9D9D9;
    padding: 30px 5px;
    position: relative;
  }
  div#Nnewsside>h2{
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  div#Nnewsside>ul{
    /* background-color: #AE90FF; */
    padding: 3px;
  }
  div#Nnewsside>ul>li>figure>figcaption{
    font-size: 14px;
    line-height: 1.2em;
  }
  

}
@media screen and (min-width : 5px) and (max-width:580px) {

  div#newswrap{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  div#News{
    width: 100%;
    margin-right: 00px;
  }
  div#Nnewsside{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 8px;
  }

  div.newsgall{
    background-color: #eaeaea;
    padding: 5px;
  }

  div.newsgall>ul{
    width: auto;
    display: block;
    /* background-color: #AE90FF; */
    padding: 10px 5px;
  }

  div.newsgall>ul>li{
    width: 84.86486486486486%;
    margin: 0 auto;
  }

  div.newsgall>ul>li>figure>img{
    display: block;
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: 240px;
    background-color: grey;
    margin-bottom: 5px;
  }

  div.newsgall>ul>li>figure>figcaption{
    font-size: 16px;
    line-height: 1.2em;
  }

  div#Nnewsside>h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
  }

  div#Nnewsside>ul{
    width: auto;
    /* background-color: #AE90FF; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  div#Nnewsside>ul::-webkit-scrollbar{
    display: none;
  }

  div#Nnewsside>ul>li{
    margin-bottom: 0px;
    margin: 0 10px;
  }

  div#Nnewsside>ul>li>figure>img{
  display: block;
  max-width: 250px;
  max-height: 200px;
  width: 250px;
  height: 240px;
  background-color: grey;
  margin-bottom: 5px;
}

}